/* Общие стили для страницы */
.support {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--grey);
    text-align: center;
}

.support__container {
    min-width: 600px;
    margin: 0 auto;
}

.support__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--darkBlue); /* Цвет заголовка */
}

.support__text {
    font-size: 18px;
    color: var(--blue); /* Цвет текста */
    margin-bottom: 30px;
    line-height: 1.5;
}

.support__form {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.support__form h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.support__formGroup {
    margin-bottom: 20px;
    text-align: left;
}

.support__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--black);
}

.support__input,
.support__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.support__textarea {
    min-height: 150px;
}

.support__button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

/* Адаптивность */
@media (max-width: 768px) {
    .support__container {
        min-width: 0;
        width: 100%;
    }

    .support__button {
        font-size: 14px;
        padding: 10px 20px;
    }
}
