.header {
    background-color: var(--darkBlue);
    color: var(--white);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
}

.header__logo img {
    width: 60px;
    height: 60px;
}

.header__burger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.header__burger.open .burger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header__burger.open .burger__line:nth-child(2) {
    opacity: 0;
}

.header__burger.open .burger__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.burger__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.header__links {
    display: flex;
    transition: all 0.3s ease-in-out;
}

.header__nav {
    display: flex;
}

.header__nav_list {
    display: flex;
    gap: 20px;
}

.header__nav_list li a {
    color: var(--white);
    transition: color 0.3s ease;
    font-size: 18px;
}

.header__nav_list li a:hover {
    color: var(--yellow);
}

.header__auth {
    display: flex;
}

.header__auth a {
    color: var(--white);
    margin-left: 15px;
    transition: color 0.3s ease;
}

.header__auth a:hover {
    color: var(--yellow);
}

/*----media---------------------------------*/

@media (max-width: 768px) {
    .header__container {
        align-items: center;
    }

    .header__logo img {
        width: 40px;
        height: 40px;
    }

    .header__links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--blue);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
    }

    .header__links.open {
        opacity: 1;
        visibility: visible;
    }

    .header__nav_list {
        flex-direction: column;
        align-items: center;
    }

    .header__auth a {
        margin: 5px 0;
    }

    .header__burger {
        display: block;
    }
}

@media (max-width: 480px) {
    .header__logo a {
        font-size: 18px;
    }

    .header__nav_list li a {
        font-size: 14px;
    }
}